.bloc {
  display: flex;
  position: absolute;
  font-family: "Roboto";
  top: 10%;
  left: 50%;
  flex-direction: column;
  transition: 0.8s;
  width: 200px;

  .info {
    display: flex;
    flex-direction: column;

    .step {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      h2 {
        flex: 1;
        text-align: center;
        margin: 5px;
        font-size: 20px;
        font-weight: 500;
      }
    }

    .compet {
      display: flex;
      background-color: black;
      color: white;
      margin-bottom: 10px;

      h2 {
        border: 1px solid white;
        flex: 1;
        text-align: center;
        margin: 0;
        font-size: 15px;
        padding: 5px;
      }
    }
  }
  .slide {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .timer {
    display: flex;
    color: black;
    transition: 0.5s;

    p {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      flex: 1;
      height: 50px;
    }

    .timer-label {
      background-color: yellow;
      font-weight: 900;
      font-size: 27px;
    }

    .timer-timer {
      background-color: white;
      font-weight: 200;
      font-size: 30px;
    }
  }

  .show {
    -webkit-animation: scale-in-ver-bottom 0.5s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
  }

  .hide {
    -webkit-animation: scale-out-ver-bottom 0.5s
      cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: scale-out-ver-bottom 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
      both;
  }
}

.stop {
  transform: scale3d(1, 0, 0);
}
